# Generic
TBA_API_KEY=

# Backend
DATABASE_URL=postgres://app:app@postgres:5432/app
CORS_ORIGINS=https://open-scouting-dev.nfoert.dev
SECRET_KEY=secret-key-change-me

# Frontend
PUBLIC_FAST_API_URL=https://open-scouting-dev.nfoert.dev/api
PUBLIC_MODE=prod # dev/prod
PUBLIC_VERSION=v2.0.0-alpha.5