# Generic
TBA_API_KEY=

# Backend
DATABASE_URL=postgres://app:app@postgres:5432/app
CORS_ORIGINS=https://open-scouting.shortcircuitfirst.org
SECRET_KEY=secret-key-change-me
UPLOAD_ROOT=/data/uploads

# Frontend
PUBLIC_FAST_API_URL=https://open-scouting.shortcircuitfirst.org
PUBLIC_FRONTEND_URL=https://open-scouting.shortcircuitfirst.org
PUBLIC_MODE=prod # dev/prod

# Emails
PUBLIC_EMAIL_ENABLED=false
MAIL_USERNAME="open-scouting"
MAIL_PASSWORD="password"
MAIL_FROM="dev@open-scouting.com"
MAIL_PORT=1025
MAIL_SERVER="localhost"
MAIL_STARTTLS=false
MAIL_SSL_TLS=false
USE_CREDENTIALS=true
VALIDATE_CERTS=false