# Generic
TBA_API_KEY=

# Backend
DATABASE_URL=postgres://app:app@localhost:5432/app
CORS_ORIGINS=http://localhost,http://localhost:5173
SECRET_KEY=secret-key-change-me
UPLOAD_ROOT=./uploads

# Frontend
PUBLIC_FAST_API_URL=http://localhost:8000
PUBLIC_FRONTEND_URL=http://localhost:5173
PUBLIC_MODE=dev # dev/prod

# Emails
PUBLIC_EMAIL_ENABLED=false
MAIL_USERNAME="open-scouting"
MAIL_PASSWORD="password"
MAIL_FROM="dev@open-scouting.com"
MAIL_PORT=1025
MAIL_SERVER="localhost"
MAIL_STARTTLS=false
MAIL_SSL_TLS=false
USE_CREDENTIALS=true
VALIDATE_CERTS=false