asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
drf-spectacular==0.28.0
Django==5.2.6
django-environ==0.12.0
djangorestframework==3.16.1
djangorestframework-api-key==2.3.0
EditorConfig==0.17.1
gunicorn==23.0.0
idna==3.10
jsbeautifier==1.15.4
json5==0.12.1
orderly-set==5.5.0
packaging==25.0
pathspec==0.12.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
PyYAML==6.0.2
regex==2025.9.1
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
urllib3==2.5.0
