{% extends "base.html" %}
{% load static %}
{% block head_title %}Open Scouting | Admin{% endblock %}

{% block head_scripts %}
{% endblock head_scripts %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <script>
        const SERVER_IP = "{{ SERVER_IP }}";
        const CSRF_TOKEN = "{{ csrf_token }}";
        const TBA_API_KEY = "{{ TBA_API_KEY }}";
        const YEARS = '{{ YEARS | safe }}';
    </script>

    <script>
        const user = new User();
        window.user = user;

        user.check_authentication_status().then(() => {
            window.dispatchEvent(new CustomEvent("user_ready", { detail: user }));
        });

        user.load_settings();
    </script>

    <div class="flex flex-col min-h-screen w-screen items-center" x-data>
        <div class="flex flex-col w-full md:w-3/4 lg:w-2/3 mx-8 my-4 py-2 dark:bg-slate-800 border-2 dark:border-slate-700 bg-slate-200 border-slate-300 rounded-lg mb-4 items-center justify-center">
            <div class="flex flex-row items-center justify-center">
                <img class="w-16 h-16 aspect-square m-2 hover:scale-110 transition-all ease-in-out active:scale-95"
                     src="{% static '/main/images/icon_rounded.png' %}"
                     @click="window.location.href = '{{ SERVER_IP }}'">
                <div class="flex flex-col">
                    <p class="dark:text-white text-black text-sans text-2xl">Admin Dashboard</p>
                    <p class="dark:text-white text-black text-sans text-md">
                        Viewing as <span class="font-bold">{{ user.profile.display_name }}</span> <span class="opacity-50">({{ user.email }})</span>
                    </p>
                </div>
            </div>

            <button class="ui_button_small"
                    @click="window.location.href = window.location.href.replace(/\/ui\/?$/, '')">Django Admin</button>

        </div>
    </div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}
